/* HEADER*/
header {
  min-height: 10vh;
}
.header-container {
  background-color:rgb(221, 240, 200);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo > img {
  margin:  10px 50px;
  padding: 5px;
  border: 5px solid orange;
  border-radius: 10px;
  height: 50px;
}
.ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected {
  background-color: #f5e1bd;
  color: black;
  border-bottom: 2px solid orange;
}

.ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover,
.ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, 
.ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > .ant-menu-submenu-open
{
  color: #ff9100;
  border-bottom: 2px solid orange;
}
.anticon-user{
  font-size: 24px;
  padding-right: 30px;
}

/* MAIN*/
main {
  height: 80vh;
}
.library{
  display:flex;
  flex-wrap: nowrap;
  height: 100%;
  
}
.sidebar{
  flex-basis: 15%;
  flex-shrink: 0;
  background-color: rgb(232, 241, 221);
 
}
.films{
  
  flex-grow: 1;
  background-color: rgb(247, 247, 247);
}

/* FOOTER*/
.footer-container{
  min-height: 10vh;
  background-color:rgb(221, 240, 200);
  display: flex;
  align-items: center;

}
.footer-container > p{
  text-align: center;
  color:black;
  margin: auto;
}