
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    font-family: 'Gabriela', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
code {
  font-family: 'Rajdhani', sans-serif;
}
h1,h2,h3 {
  font-family: 'Kelly Slab', cursive;
}
h1 {
  font-size: 24px;;
}

